<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="navbar-item">
        <img
          class="icon1"
          src="/assets/newPost.png"
          alt="new post"
          (click)="addPostPage()"
        />
      </li>
      <li class="navbar-item">
        <a class="nav-link">
          <img
            class="icon2"
            src="/assets/friends3.png"
            alt="new post"
            (click)="addFriendsPage()"
          />
        </a>
      </li>
      <li class="navbar-item">
        <a class="nav-link">
          <img
            class="icon1"
            src="/assets/search.png"
            alt="new post"
            (click)="addSearchPage()"
          />
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- //emitter (onAddPost) to update timeLine -->
<app-add-post
  (onAddPost)="updatePostsList($event)"
  *ngIf="showAddPostActive"
></app-add-post>

<app-friends *ngIf="showFriendsActive"></app-friends>

<app-search
  (searchEmitter)="makeSearch($event)"
  *ngIf="showSearchActive"
></app-search>
