<div class="display-center full-width">
  <div class="card">
    <h2 class="card-header">Login</h2>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="submitPost()">
        <label for="userName">UserName</label>
        <input formControlName="userName" type="text" id="userName" />
        <div
          class="error"
          *ngIf="
            loginForm.controls['userName'].touched &&
            loginForm.controls['userName'].invalid
          "
        >
          userName not valid
        </div>

        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" />
        <div
          class="error"
          *ngIf="
            loginForm.controls['password'].touched &&
            loginForm.controls['password'].invalid
          "
        >
          password not valid
        </div>

        <div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
          <a class="space1" [routerLink]="['/reset-password']"
            >Forgot password?</a
          >
        </div>

        <div>
          Not yet a member?
          <a class="space2" [routerLink]="['/sign-up']">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>
