<div class="search-container">
  <h2>Dynamic filtering</h2>

  <div class="search-element">
    <label for="dateFrom"
      >Date from:
      <input type="date" placeholder="dateFrom" [(ngModel)]="startDate"
    /></label>
  </div>

  <div class="search-element">
    <label for="dateTo"
      >Date to: <input type="date" placeholder="dateTo" [(ngModel)]="endDate"
    /></label>
  </div>

  <div class="search-element">
    <label for="publishers">Publishers (split by ','):</label>
    <input
      type="text"
      placeholder="publishers"
      [(ngModel)]="publishersString"
    />
  </div>

  <div class="search-element">
    <label for="hashTags">#Tags (split by ','): </label>
    <input type="text" placeholder="hashTags" [(ngModel)]="tagsString" />
  </div>

  <div class="search-element">
    <label for="taggedUsers">Tagged people (split by ','): </label>
    <input
      type="text"
      placeholder="taggedPeople"
      [(ngModel)]="taggedUsersString"
    />
  </div>

  <div class="btn-place">
    <button class="btn-style" (click)="addFiltering()">Search</button>
  </div>
</div>

<div #dialogAlarm class="ref">
  <div class="alert-box">
    <div>{{ errorAlarm }}</div>
    <div class="text-right">
      <button type="button" class="button-27" (click)="closeDialog()">X</button>
    </div>
  </div>
</div>
