<div class="full-width grid">
  <div class="item">
    <div class="display-center">
      <h1>All</h1>
    </div>
    <div class="display-center">{{ massages["0"].msg }}</div>
  </div>
  <div class="item">
    <div class="display-center">
      <h1>Authenticated</h1>
    </div>
    <div class="display-center">{{ massages["1"].msg }}</div>
  </div>
  <div class="item">
    <div class="display-center">
      <h1>Admin</h1>
    </div>
    <div class="display-center">{{ massages["2"].msg }}</div>
  </div>
</div>
