<div class="post-container">
  <div>
    <div class="btn-x">
      <button class="button-42" (click)="deletePost()">X</button>
    </div>
    <span class="post-element">Description: {{ post.description }}</span>
  </div>
  <div>
    <img class="post-element-img" src="{{ post.imageSorce }}" />
  </div>
  <div *ngIf="showDetailsActive">
    <button class="button-4" (click)="showDetails()">Show Details</button>
  </div>

  <div *ngIf="detailsActive">
    <div>
      <span class="post-element">Date: {{ post.date | date }}</span>
    </div>
    <div *ngIf="!editActive">
      <span class="post-element"
        >UsersTags: {{ splitUserTaggedPostFromArray() }}</span
      >
    </div>
    <div *ngIf="!editActive">
      <span class="post-element"> #Tags: {{ splitTagFromArray() }}</span>
    </div>
    <div *ngIf="editActive">
      <div class="post-element">
        UsersTags:<input type="text" [(ngModel)]="newUsersTags" />
      </div>
      <div class="post-element">
        #Tags:<input type="text" [(ngModel)]="newTags" />
      </div>
      <div>
        <button (click)="saveChanges()">Save Changes</button>
      </div>
    </div>

    <div class="icons">
      <div>
        <button mat-icon-button color="warn" (click)="likePost()">
          <i
            [ngClass]="{
              bx: true,
              'bx-heart': !likedByUser,
              'bxs-heart': likedByUser
            }"
          ></i>
        </button>
        {{ likesCount }}
      </div>

      <div>
        <button mat-icon-button color="primary" (click)="addComment()">
          <i class="bx bxs-comment-detail"></i>
        </button>
        {{ post.comments?.length }}
      </div>

      <div>
        <button mat-icon-button (click)="editPost()">
          <i class="bx bxs-edit"></i>
        </button>
      </div>
    </div>

    <div *ngIf="commentActive">
      <app-add-comment
        (commentEmitter)="makeComment()"
        [postId]="post.id"
      ></app-add-comment>
    </div>

    <div class="comment-element">
      <app-comment
        [postComment]="comment"
        *ngFor="let comment of post.comments"
      ></app-comment>
    </div>

    <div class="close-btn-place">
      <button class="button-4" (click)="closeDetails()">Close</button>
    </div>
  </div>

  <div #dialogAlarm class="ref">
    <div class="alert-box">
      <div>{{ errorAlarm }}</div>
      <div class="btn-container">
        <button type="button" class="button-29" (click)="yesAnswer()">
          Yes
        </button>
        <button type="button" class="button-29" (click)="noAnswer()">No</button>
      </div>
    </div>
  </div>
</div>
