<div class="display-center full-width">
  <div class="card">
    <h2 class="card-header">Reset Password</h2>
    <div class="card-body">
      <form [formGroup]="passwordForm" (ngSubmit)="submitPost()">
        <label for="userName">UserName</label>
        <input formControlName="userName" type="text" id="userName" />
        <div
          class="error"
          *ngIf="
            passwordForm.controls['userName'].touched &&
            passwordForm.controls['userName'].invalid
          "
        >
          userName not valid
        </div>

        <label for="password1">New Password</label>
        <input formControlName="password1" type="password1" id="password1" />
        <div
          class="error"
          *ngIf="
            passwordForm.controls['password1'].touched &&
            passwordForm.controls['password1'].invalid
          "
        >
          password not valid
        </div>

        <label for="password2">Confirm Password</label>
        <input formControlName="password2" type="password2" id="password2" />
        <div
          class="error"
          *ngIf="
            passwordForm.controls['password2'].touched &&
            passwordForm.controls['password2'].invalid
          "
        >
          password not valid
        </div>

        <div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!passwordForm.valid"
          >
            Submit
          </button>
        </div>

        <div>
          Not yet a member?
          <a class="space2" [routerLink]="['/sign-up']">Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>
