<div class="fakelook-container">
  <div class="logout-div">
    <div>
      <h1>
        <img class="logo" src="/assets/fakelook.png" alt="logo" /> FakeLook
      </h1>
    </div>
    <div>
      <img
        class="icon"
        src="/assets/logout.png"
        alt="new post"
        (click)="logOut()"
      />
    </div>
  </div>

  <div class="fake-post-container">
    <div class="nav-container">
      <app-navbar (updateList)="getPosts()"></app-navbar>
    </div>
    <div class="map-container"><app-map></app-map></div>
  </div>

  <div class="posts-profile">
    <app-post
      *ngFor="let post of posts"
      [postItem]="post"
      (onDeletePost)="deletePost($event)"
    >
    </app-post>
  </div>

  <div #dialogAlarm class="ref">
    <div class="alert-box">
      <div>{{ errorAlarm }}</div>
      <div class="btn-container">
        <button type="button" class="button-29" (click)="yesAnswer()">
          Yes
        </button>
        <button type="button" class="button-29" (click)="noAnswer()">No</button>
      </div>
    </div>
  </div>
</div>
